<div *ngIf="showRootComponent == true">
<div class="row top-buffer">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well well-lg">
      <h3><b>Crisis Stabilization Unit Home</b></h3>
      <p>This is a data collection resource for Bed count.
        This allows DMH and its certified providers to administer and report the number of available beds. Menu availability is based on permissions for each user.
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <ul class="list-group">
      <a href="" class="list-group-item" data-toggle="tooltip" title=" Administrators maintain the number of licensed beds and the number of active beds."  > <b>BC Licensed/Active Beds </b> </a>
      <a href="#" class="list-group-item" data-toggle="tooltip" title="Providers submit the number of occupied beds."><b>BC Occupied Beds </b></a>
      <a  [routerLink]="['/reports']" class="list-group-item" data-toggle="tooltip" title="Report provides the summary data based on entries by administrators and providers."><b>BC Reports</b></a>
      <a href="#" class="list-group-item" ><b>Maintain BedCount</b></a>
      <a href="http://www.dmh.state.ms.us" class="list-group-item " data-toggle="tooltip" title="This link leads to the DMH website, www.dmh.ms.gov. This will navigate away from the Bed Count resource."><b>DMH Website</b></a>
      <a href="menu.jsp" class="list-group-item " data-toggle="tooltip" title="This link will return the user to the Central Data Repository (CDR)."><b>CDR Main Menu</b></a>
      <a href="/vdesk/hangup.php3" class="list-group-item " ><b>Logout</b></a>
      
    </ul>
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <p id="pBCLicense">BC Licensed/Active Beds - Administrators maintain the number of licensed beds and the number of active beds.</p>
      <p id="pBCOccupied">BC Occupied Beds - Providers submit the number of occupied beds.</p>
      <p id="pBCReports">BC Report - Report provides the summary data based on entries by administrators and providers.</p>
      <p id="pBCDmhWeb">DMH Website  - This link leads to the DMH website, www.dmh.ms.gov.  This will navigate away from the Bed Count resource.</p>
      <p id="pBCMainmenu">CDR Main Menu  - This link will return the user to the Central Data Repository (CDR).</p>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
