<div *ngIf="showRootComponent == true">
<div class="row top-buffer">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well well-lg">
      <h3><b>Crisis Stabilization Unit Home</b></h3>
      <p>This is a data collection resource for Bed count.
        This allows DMH and its certified providers to administer and report the number of available beds. Menu availability is based on permissions for each user.
      </p>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <ul class="list-group">
      <a [routerLink]="['/csuAdmins']"  class="list-group-item" data-toggle="tooltip" title=" Administrators maintain the number of licensed beds and the number of active beds."  > <b>Licensed Beds </b> </a>
      <a href="#" class="list-group-item" data-toggle="tooltip" title="Providers submit the number of occupied beds."><b>Occupied Beds </b></a>
      <a  [routerLink]="['/reports']" class="list-group-item" data-toggle="tooltip" title="Report provides the summary data based on entries by administrators and providers."><b>Reports</b></a>


    </ul>
  </div>
  <div class="col-md-4">
    <div class="well well-lg">
      <p id="pBCLicense">Licensed Beds - Administrators maintain the number of licensed beds and the number of active beds.</p>
      <p id="pBCOccupied">Occupied Beds - Providers submit the number of occupied beds.</p>
      <p id="pBCReports">eport - Report provides the summary data based on entries by administrators and providers.</p>

    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>
